body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: purple;
    background-image: url(background.jpg);
    background-size : cover;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  #cart-info {
    font-size: 16px;
    margin-top: 5px;
  }
  
  main {
    padding: 20px;
  }
  
  #product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
    border-radius: 8px;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  button {
    background-color: #5b2a9a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  #cart {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  #cart-details {
    margin-bottom: 20px;
  }
  
  #checkout-btn {
    margin-top: 10px;
  }
  